.contact-content{
	position: relative;
    font-family: Century Gothic;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 23px;
}
.contact-content img{

}
.contact-content .contact_p{
	text-align: center;
    position: absolute;
    top: 80%;
    left: 0%;
    font-weight: 800;
    font-size: 53px;
    width: 100%;
}
.breakum-line{
	font-family: Century Gothic;
	font-size: 15px;
    line-height: 23px;
	margin: 30px 15px;
    padding: 0 0px 10px 15px;
    border-bottom: 1px solid;
}
.breakum-line a {
    margin-left: -15px;
    margin-right: 5px;
    font-weight: bold;
}
.breakum-line .userinfo {
    display: block;
    text-align: right;
}
.breakum-line .userinfo .images{
    width: 100%;
    text-align: center;
}
.breakum-line .userinfo .open{
    display: block!important;
}
.breakum-line .userinfo span{
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.breakum-line .userinfo .avatar{
    width: 50%;
    border: 3px solid white;
    border-radius: 50%;
}
.breakum-line .userinfo .box_info{
    box-sizing: border-box;
    z-index: 999;
    position: absolute;
    right: 5%;
    display: none;
    padding-top: 10px;
    background-color: skyblue;
    border: 1px solid #fefefe;
    box-shadow: 0 5px 5px 0 #a5a0a0;
    width: 50%;
}
.breakum-line .userinfo .box_info:after{
    bottom: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #87ceeb;
    border-width: 10px;
    margin-left: -10px;

}
.breakum-line .userinfo p {
   
    padding-right: 15px;
   
}
.breakum-line .userinfo .box_info a {
    margin-left: 35px;
    padding: 5px 10px;
    border: 1px solid #a9a6a6;
}
.breakum-line .userinfo .box_info a:hover,
.breakum-line .userinfo .box_info a:active,
.breakum-line .userinfo .box_info a:focus{
    text-decoration: none;
    background: #d8d5d5;

}
.breakum-line .userinfo .box_foot{
    text-align: left;
    padding: 5px 0;
    margin-top: 10px;
    background: #fafdfd;
}
.contact_info {
	font-family: Century Gothic;
	font-size: 15px;
    line-height: 30px;
   
}
.contact_info p.comname{
	text-transform: uppercase;
    font-weight: bold;
}
.contact_info p span{
	margin-left: 5px;
	font-weight: normal;
}
 form label {
	font-family: Century Gothic;
	font-size: 15px;
    line-height: 30px;
   	font-style: italic;
}
form input,form textarea {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: none;
    border-color:#004EBC;
    outline: 0;
    background: 0 0;
    border: 0;
    background: #fff no-repeat;
    background-image: linear-gradient(to bottom, #004EBC, #004EBC), linear-gradient(to bottom, #fbfbfb, #fbfbfb);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.15s cubic-bezier(0.64, 0.09, 0.08, 1)
}
form input.input_email,
form input.input_fname,form textarea{
    padding: 0 8px;
	border-bottom: 1px solid #004EBC;
}
form.contactform input.has-err {
    border-color: red;
}
form.contactform span.show_err{
    color: red;
    font-family: Century Gothic;
    font-size: 15px;
    font-style: italic;
}
form textarea{
	height: 76px;
}
form input:focus,form textarea:focus{
	background-size: 100% 2px, 100% 1px;
	outline: none;
}
.contactform{
 margin-left: -15px;
 margin-top: 20px;
}
.page_content{
    font-family: Century Gothic;
    font-size: 16px;
	background-color: #fff;
}
/*=== cong van block ===*/
.btn_upload{
    margin:0 15px;
    padding: 10px;
    border: 1px solid #eee;
    color: #fff;
    font-weight: bold;
    background-color:#004EBC; 
}
a.btn_upload:hover,a.btn_upload:focus,a.btn_upload:active{
    background-color:#98afe1;
    color: #000;
}
#cvan{
    
    padding-left: 0;
}
.document_new .title-document{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0103f8;;
    padding: 10px;
    color: #fff;
}
.document_new .wrap {
    max-height: 745px;
    overflow: scroll;
    width: 95%;
    float: left;
}
.document_new .wrap .bydate{
    background: rgb(199, 211, 239);
    color: #fff;
}
.document_new .wrap .bydate i{
    margin:0 5px;
    line-height: 25px;
}

.document_new .colum-date {
    float: right;
    width: 5%;
    text-align: center;
}
.document_new .colum-date a{
    color: #fff;
    margin: 2px 0;
    box-sizing: border-box;
    padding: 2px;
    display: block;
    width: 100%;
    background: rgb(199, 211, 239);
}
.document_new .colum-date a:hover,.document_new .colum-date a:active{
     background: rgb(1, 3, 248);
}
.contact-content{
	padding: 0;
}
.contact_info .title-document {
    clear: both;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 78, 188, 0.52);
    padding: 6px 10px;
    color: #fff;
}
.contact-content img {
	width: 100%;
	height:200px;
}

.contact_info span{
	float: right;
}
/*=== form login ===*/
.form-box{
    font-family:  "Century Gothic";
    font-size: 16px;
}
.form-box .header{
    background-color: #004ebc;
    padding: 8px 0;
    margin-bottom: 18px;
    color: #fff;
}
.form-box .header p{
    margin:0;
    padding-left: 10px
}
.show_avatar img{
    width:150px;
}
/*==== News ===*/
.news {
	
    display: block;
    
    font: bold 16px "Century Gothic";
    	
}
.news a {
    color: #fff;
    position: relative;
    text-decoration: none;
}
.news .new_tittle{
    color: #fff;
	position: relative;
    top: 11px;
    text-transform: uppercase;
    background-color: #004ebc;
    padding: 10px;
    
}

.news hr{
	width: 100%;
	border-bottom: 1px solid #eee;;
}
.news .new_box {
	padding: 0 15px;
}
.news .new_box p{
    color: #333;
}
.news .under_new_content{
    padding:0 15px;
}

.news .under_new_content a {
    padding-left:25px;
    background: url(../img/marker.png) no-repeat 10px center;
    font-size: 13px;
    color: #004ebc;
    font-weight: bold;
    text-decoration: none;
}
.news .new_box .first_news img{
	padding: 3px;
	border: 1px solid;
	border-color: silver;
}
.news .new_box .first_news .first_thumb {
	float: left;
	width: 25%;
	height: auto;
}
.news .new_box .first_news #member_box{
    min-height: 150px;
}
.news .new_box .first_news .first_new_content{
    color: #333;
    min-height: 200px;
    max-height: 480px;
	margin-left: 30px;
    display: inline-block;
    width: 68%;
}
.news .new_box .first_news .first_new_content a{
    background-color: transparent;
}
.news .new_box .first_news .first_new_content span{
    margin: 10px 0;
	display: block;
    font-size: 11px;
    color: rgb(153, 153, 153);
    font-weight: normal;
}
.news .new_box .first_news #member_box p{
    line-height: 26px;
    }
.news .new_box .first_news .first_new_content p{
    
	font-size: 14px;
    font-style: italic;
    font-weight: normal;
    color: #000;
    margin: 10px 0;
}
.news .new_box .first_news .first_new_content a {
	font-size: 16px;
    color: #004ebc;
    font-weight: bold;
    text-decoration: none;
}
.news .new_box .first_news .first_new_content a.links_tittle{
    padding-left: 0px;
}
.news .new_box .first_news .first_new_content a.link_detail{
	font-size: 12px;
	float:right;
}
.news .new_box .under_new_content a {

	display: block;
    background: url(../img/marker.png) no-repeat 10px center;
    font-size: 16px;
    color: #004ebc;
    font-weight: bold;
    text-decoration: none;
    padding: 0 30px;
    margin: 10px 0;
}
.news .new_box .link .linkmore {
    line-height: 0px;
    background: none;
    font-size: 16px;
    float: right;
    color: #004EBC;
}
.pagination_line{
	text-align: center;
}
ul.pagination_news {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination_news  li {display: inline;}

ul.pagination_news  li a {
    background-color: transparent;
	font-size: 14px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination_news  li a:hover,
ul.pagination_news  li a:active,
ul.pagination_news  li a:focus{
	background-color:#004ebc;
	color: #fff; 
}
/*======= newsdetail page ====*/
.news_content{
    font: normal 14px "Century Gothic";
    color: rgba(0, 0, 0, 0.64);
}
.news_content .header-title{
    padding-left: 0;
}
.news_content .header-title span{
    font-size: initial;
    display: inline-block;
}
.news_content span {
    margin: 10px 0;
    display: block;
    font-size: 14px;
    color: rgb(153, 153, 153);
    font-weight: normal;
}
.news_content p.new_tittle {
    color: #ff4600;;
}
.news_content .new_tittle{
    font-size: 20px;
    font-weight: bold;
    
}
.news_content .new_tittle_block {
    display: inline-block;
    padding: 10px;
    background-color: #004ebc;
    font: bold 20px "Century Gothic";
    color: #fff;
}
.news_content .short_des{
    
    font-weight: bold;
    color: #000;
}
/*=== tin anh ====*/
.images_new{
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 25px;
    display: inline-block;
    width: 30%;
    padding: 5px;
    box-shadow: 0px 5px 10px #888888;
}
.images_new .images_new_box{
    display: inline-block;
}
.images_new .images_new_box a.link{
    padding: 0 7px;
    display: block;
    font: 12px "Century Gothic";
    font-weight: bold;
    text-decoration: none;
}
.images_new .images_new_box a img{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.images_new .images_new_box span {
    margin:10px 0;
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: rgb(153, 153, 153);
}
/*==== form seach====*/
.search{
    font: 12px "Century Gothic";
    width: 100%;
    margin-right: 30px;
    display: block;
    position: relative;
}
.search .input-search{
    display: inline-block;
    height: 34px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-color: #004ebc;
    border-radius: 4px 0px 0px 4px;
    width: 75%;
}
.search button p{
    display: none;
    line-height: 24px;
}
.search button i{
    display: none;
    font-size: 21px;
}
.btn-search {
    background: #004EBC;
    position: absolute;
    display: inline-block;
    height: 34px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px 4px 4px 0px;
    width: 25%;
    top: 0px;
    /*right: 0px;*/
}
/*============= category in detail page ===================*/
.page-default .content .col_left{
    position: relative;
}
.page-default .content .col_left .Category {
    z-index: 100;
    list-style-type: none;
    border-radius: 5px;
    background: #a7a7a7;
    border: 1px solid #004ebc;
    
}


.page-default .content .col_left .Category .CategoryChild {
    border-bottom: 1px solid #9f9f9f;
    box-sizing: border-box;
    padding: 10px 15px;
}
.page-default .content .col_left .Category .CategoryChild.active{
    background-color: #004ebc;
}

.page-default .content .col_left .Category .CategoryChild:hover {
    background-color: #004ebc;
}
.page-default .content .col_left .Category .CategoryChild:hover a {
    text-decoration: none;
    color: #FFF;
}
.page-default .content .col_left .Category .CategoryChild a {
    color: #fff;
     font: bold 14px "Century Gothic";
}
.fixed {
    position: fixed;
    top:20px;
    /*width: 255px;*/
}
@media (min-width: 1191px){
   .search button p{
    display: block;
    } 
}
@media (max-width: 1190px){
    .search button i{
    display: block;
    }
	.contact-content .contact_p{
	font-size: 40px;
	top:70%;
    }
    .images_new{
    margin-right: 17px;
    }
    .breakum-line .userinfo .box_info a {
    margin-left: 5px;
    padding: 5px 5px;
    border: 1px solid #a9a6a6;
}
}
@media (max-width: 991px){
    .page-default .content .col_left{
    display: none;
}
    .search button i{
    display: block;
    float: left;
}
    .search button p{
    display: block;
    } 
    .images_new{

    }
    .breakum-line .userinfo .box_info a {
        box-sizing: border-box;
        display: block;
        margin: 5px; 
    }
}
@media (max-width: 767px){
    .breakum-line{
        padding:0;
    }
	.contact-content .contact_p{
	display: block;
    }
    .news .new_tittle{
        font-size: 12px;
    }
    .news .new_tittle:after{
        top: -23px!important;
        border-bottom: 33px solid #004ebc !important;
        border-right: 39px solid transparent !important;
    }
    .news .new_box .first_news .first_thumb{
        width: 100%;
    }
    .news .new_box .first_news .first_new_content{
        width: 100%;
        margin-left: 0;
    }
    .news .new_box .under_new_content a,.news .new_box .link .linkmore{
        font-size: 14px;
    }
    .images_new {
        width: 48%;
        margin-right: 5px;
    }
}
@media (max-width: 480px){
    .breakum-line a{
        margin-left: 0px;
    }
    .search button i{
    display: block;
    
}
    .search button p{
    display: block;
    } 

	.contact-content .contact_p{
	font-size: 22px;
}
    .news .news_box .first_news .first_thumb {
        width: 100%;
    }
}
@media (max-width: 350px){
    .search button p{
    display: none;
    }
	.contact-content .contact_p{
	font-size: 18px;
}
    .images_new {
        width: 100%;
        margin-right: 5px;
    }
}
