@media (min-width: 1300px) {
     .container {
         width: 1300px !important;
     }
     header .logo img {
         margin-left: 0px;
     }
     .menu-main .request-quote {
         margin-left: 40px;
     }
     
     .bs-docs-footer {
        background-position: top;
     }
     .bs-docs-footer .menu-footer {
         margin-top: 150px;
     }
     .page-contact .form-contact {
         margin-top: 30px;
     }
     .page-contact .form-contact .control-label {
         line-height: 33px;
     }
     .page-contact #first_name,
     .page-contact #last_name,
     .page-contact #pri_phone,
     .page-contact #sec_phone,
     .page-contact #loss_cause,
     .page-contact #prop,
     .page-contact #loss_type,
     .page-contact #email,
     .page-contact #priority {
         width: 200px;
     }
     .page-contact #postal_code {
         width: 100px;
     }
     .page-contact #street_add {
         width: 300px;
     }
     .page-contact #apt {
         width: 100px;
     }
     .page-contact #prop {
         margin-left: -12px;
     }
     .page-contact #email {
         width: 404px;
     }
     .page-contact select {
         width: 207px !important;
     }
     .page-contact #comments {
         width: 672px;
     }
 }
 
 @media (max-width: 1299px) {
    .page-home .sub-slider .service_wrap{
        width: 90% ;
    }
    .page-home .sub-slider .service_wrap .slide-item{
        margin-right: 7px;
    }
     .title-default {
         font-size: 16px;
     }
     .sub-title-default {
         font-size: 15px;
         line-height: 20px;
     }
     .page-default .content {
         /*padding-bottom: 120px;*/
     }
     .page-default .content .main-content-wrap .sidebar-right .title {
         font-size: 14px !important;
     }
     .page-default .content .main-content-wrap .sidebar-right .phone {
         font-size: 25px !important;
     }
     
     .bs-docs-footer {
         background-position: top;
     }
     .bs-docs-footer .contact-us {
         font-size: 18px;
     }
     .bs-docs-footer .menu-footer {
         margin-top: 100px;
     }
     .uc_simple_app_download_buttons .uc_app_button {
        padding: 7px;
     }

 }
 
 @media (max-width: 1023px) {
    .header-wrapper {background-size: cover;
        background-image: url(../img/bg-header-2.png);
        background-position: 20% 0% !important;
    }
    header .logo img{
        width: 90%;
    }
    .page-home .sub-slider .service_wrap{
        
    }
    .page-home .sub-slider .service_wrap .slide-item{
        margin-right: 5px;
    }
     .container {
         padding: 0;
     }
     .row {
         margin: 0;
     }
     header .phone .content .main-content-wrap {
         padding-left: 45px;
     }
     header .phone .content .title {
         font-size: 20px;
     }
     header .phone .content .phone-number {
         font-size: 25px;
     }
     header .phone .content .wrt {
         font-size: 14px !important;
     }
     .menu-main .request-quote {
         font-size: 13px;
         margin-left: 20px;
     }
     .menu-main .navbar-nav li a {
         font-size: 13px;
         line-height: 18px;
         padding: 15px 10px;
     }
     .page-default .content {
         padding-top: 20px;
     }
     .page-default .content .sidebar-left {
        padding: 0px 15px;
        width: 100%;
     }
     .page-home .sub-slider {
         margin-top: -70px;
     }
     .bs-docs-footer {
         background-position: bottom;
     }
     .page-bio img.img-content,
     .page-fire img.img-content,
     .page-water img.img-content,
     .page-mold img.img-content {
         display: block !important;
         margin: 0 auto;
         float: none;
         margin-top: 0px;
     }
     .page-contact .form-group {
         margin-bottom: 15px;
     }
     .page-contact .sidebar-right {
         clear: both;
     }
     .form-inline .form-control {
         width: 100% !important;
         margin-top: 10px;
     }
     #datetimepicker1 {
         margin-top: 10px;
     }
     #datetimepicker1 .form-control {
         margin-top: 0px;
     }
     .tinanh {
        margin-right: 0px;
     }

 }

@media (max-width: 991px) {
    .page-home .sub-slider .service_wrap{

    }
    .menu-main .request-quote {
        font-size: 12px;
    }
    .menu-main .navbar-nav li a {
        font-size: 12px;
        padding: 15px 3px;
    }
    .navbar-collapse {
        padding-right: 0 !important;
    }
    .padding_right5{
        padding-right: 0px !important;
    }
}
 
 @media (max-width: 767px) {
    header .logo{
        padding: 25px 0px !important; 
    }
     header .phone{
        padding-top: 5px !important;
    }
    header .phone .content{
        margin-right: 0px !important;
    }

    .page-home .sub-slider .service_wrap{

    }
    .page-home .sub-slider .service_wrap .slide-item{
       margin-bottom: -20px;
        margin-left: 4px;
        margin-right: 2px;
        width: 48% !important;
    }
     .container-fluid > .navbar-collapse,
     .container-fluid > .navbar-header,
     .container > .navbar-collapse,
     .container > .navbar-header {
         margin: 0;
     }
    header .logo img{
        width: 80%;
    } 
     header .phone .content .title {
         font-size: 16px !important;
     }
     header .phone .content .phone-number {
         font-size: 24px !important;
         line-height: 15px;
     }
     header .phone .content .wrt {
         font-size: 13px !important;
         line-height: 10px;
     }
     .page-default .content {
         /*padding-bottom: 200px !important;*/
     }
     .menu-main .navbar-nav {
         float: left;
         width: 100%;
         margin: 0;
     }
     .menu-main .navbar-nav li a {
         padding: 15px 20px;
     }
     .menu-main .navbar-nav .parent-item.open a {
         color: #000;
     }
     .menu-main .navbar-nav .parent-item.open .dropdown-menu a {
         color: #fff;
         padding: 8px 40px;
     }
     .menu-main .navbar-nav .parent-item.open .dropdown-menu a:hover {
         color: #000;
     }
     .navbar-collapse {
         padding: 0;
     }
     .page-default .content .main-content-wrap .sidebar-right {
         margin-top: 30px;
         text-align: center;
     }
     .bs-docs-footer .menu-footer {
         margin-top: 30px;
         text-align: center;
     }
     .bs-docs-footer .menu-footer .giaa {
         text-align: center;
         margin-top: 20px;
     }
     .bs-docs-footer {
     }
     .bs-docs-footer .contact-us-wrap {
         width: 100%;
         margin: 30px 0 0 0;
         text-align: right;
     }
     .bs-docs-footer .contact-us-wrap .contact-us {
         font-size: 13px;
     }
     .bs-docs-footer .copyright a {
         display: block;
         text-align: center;
         border-right: 0 !important;
         margin-bottom: 8px;
     }
     .page-home .sub-slider .slide-item {
         margin-bottom: 10px;
         padding: 3px !important;
     }
     .page-home .sub-slider .slide-item a img:hover {
         border: 1px solid;
         box-shadow: 4px 10px 5px rgba(136, 136, 136, 0.46);
     }
     .property-type,
     .loss-type {
         margin-top: 10px;
     }
     .property-type .control-label,
     .loss-type .control-label {
         padding: 0;
     }
     .property-type .col-md-6,
     .loss-type .col-md-6 {
         padding: 0;
     }
     .document_new .wrap {
        width: 93%;
    }
     .document_new .colum-date{
        width: 7%;
     }
      .document_new .wrap {
        width: 90% !important;
    }
    .document_new .colum-date {
        width: 10% !important;
    }

 }
 
 @media (max-width: 479px) {
    header .logo{
        padding: 10px 0px !important; 
    }
 
    header .logo img{
        width: 90%;
    }
    .page-home .sub-slider .service_wrap{
        width: 100%;
    }
     .page-home .sub-slider .service_wrap .slide-item{
       margin-bottom: -20px;
        margin-left: 2px;
        margin-right: 2px;
        width: 48% !important;
    }
     header .logo,
     header .phone {
         /*width: 100%;*/
     }
     header .logo {
         text-align: center;
         
     }
     header .phone {
         /*display: none;*/
     }
     header .phone .content .title{
        font-size: 12px !important;
     }
     header .phone .content .phone-number{
        font-size: 15px !important;
     }
     header .phone .content .wrt {
        display: none;
     }
     .header-wrapper{
        background-position: 10% 0% !important;
     }
     .click-to-phone-image {
         display: block !important;
         text-align: right !important;
     }
     .click-to-call-phone {
         display: block !important;
         font-family: Century Gothic !important;
         font-size: 28px !important;
         font-weight: bold !important;
         text-align: right !important;
         margin-top: 3px !important;
     }
     .click-to-call-phone a {
         color: #ff4600 !important;
     }
     .page-default .content {
         /*padding-bottom: 200px !important;*/
     }
     header {
         padding-bottom: 0;
     }
     .bs-docs-footer {
     }
     .bs-docs-footer .contact-us {
         font-size: 15px;
     }
     .page-home .sub-slider {
         margin-top: -50px;
     }
     .click-to-phone-porfolio {
         display: block;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .flooded {
         font-size: 26px !important;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .emergency {
         font-size: 12px !important;
     }
     .click-to-phone-porfolio .click-to-call-phone .right .phone-number {
         line-height: 15px !important;
         padding: 10px 0 5px !important;
     }
     .click-to-phone-porfolio .click-to-call-phone .right .click {
         font-size: 10px !important;
     }
     .click-to-phone-porfolio .wrt {
         color: #ff4600;
         font-size: 16px;
         text-transform: uppercase;
         text-align: center;
     }
     .page-home .sub-slider .slide-item{
        margin-bottom: 0;
    }
     #uc_carousel_testimonials .owl-page span {
        margin: 5px 3px;
        width: 25px;
     }
     #uc_customer_logo_carousel .owl-page span {
        margin: 5px 0;
     }
     .search button i {
        margin-left: 15px;
    }
    .search button p{
        display: none!important;
    }
    .uc_clean_accordion .uc_clean_accordion_wrap .uc_clean_accorder_content .uc_head_line .uc_link_tittle{
        padding: 6px 9px 6px !important;
    }
    .uc_clean_accordion .uc_clean_accordion_wrap .uc_clean_accorder_content .uc_head_line .ui-accordion-header-icon.ui-icon{
        top: 11px !important;
    }
    .uc_clean_accordion .uc_clean_accordion_wrap .uc_clean_accorder_content .uc_line_content{
        padding:5px 10px 5px!important;
    }
    .owl-theme .owl-controls{
        margin-bottom: 0;
    }
    .page-default .content .sidebar-left{
        padding: 0px 13px 11px 17px!important;
    }
    .contact-content img{
        height: auto!important;
    }
    .uc_clean_accordion .uc_clean_accordion_wrap .uc_clean_accorder_content .uc_line_content .cv_date{
        font-size: 12px;
    }
    .uc_clean_accordion .uc_clean_accordion_wrap .uc_clean_accorder_content .uc_line_content .cv_date a {
        padding:0 5px;
    }
    .uc_customer_review_box .left-box .uc_name{
        margin-top: 10px;
        font: bold 12px Century Gothic;
    }
    .document_new .wrap {
        width: 90% !important;
    }
    .document_new .colum-date {
        width: 10% !important;
    }

 }
 
 @media (max-width: 399px) {
    .page-home .sub-slider .service_wrap{

    }
     .click-to-call-phone {
         font-size: 22px;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .flooded {
         font-size: 21px !important;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .emergency {
         font-size: 9px !important;
     }
     .click-to-call-phone .right .phone-number {
         line-height: 15px !important;
         padding: 10px 0 5px !important;
         font-size: 22px !important;
     }
     .click-to-call-phone .right .click {
         font-size: 10px !important;
     }
     .click-to-phone .click-to-call-phone a {
         font-size: 22px;
     }
 }
 
 @media (max-width: 319px) {
     .click-to-call-phone {
         font-size: 18px !important;
     }
     .bs-docs-footer {
     }
     .bs-docs-footer .contact-us {
         font-size: 13px;
     }
     .click-to-phone .click-to-call-phone a {
         font-size: 20px;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .flooded {
         font-size: 20px !important;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .emergency {
         font-size: 8px !important;
     }
     .click-to-phone-porfolio .click-to-call-phone .right .phone-number {
         line-height: 15px !important;
         font-size: 20px !important;
     }
     .page-contact .info-bottom .email {
         font-size: 13px;
     }
 }

 @media (min-width: 992px) {
     .addmore {
         display: flex;
     }
     .newpost {
         margin-left: 30px;
         height: 100%;
     }
     .otherlink {
         margin-right: 30px;
         height: 100%;
     }
     .member {
         margin: 0 15px;
         height: 100%;
     }
      .tinanh {
        margin-right: 30px;
    }
 }