#uc_customer_logo_carousel .uc_item {
	margin-bottom: 40px;
}
#uc_customer_logo_carousel .uc_logo {
	padding: 20px;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
#uc_customer_logo_carousel .owl-page {
	text-align: center;
}
#uc_customer_logo_carousel .owl-page {
	display: inline-block;
	margin: 0 2px;
}
#uc_customer_logo_carousel .owl-page span {
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	box-sizing: border-box;
	background: #222;/*#c4c4cc*/
	transform: scale(0.3);
	transform-origin: 50% 50%;
	transition: all 0.25s ease-out 0s;
}
#uc_customer_logo_carousel .owl-page.active span, #uc_customer_logo_carousel .owl-page:hover span {
	background: #004EBC;
	transform: scale(0.7);
	transition: all 0.25s ease-out 0s;
}