 @font-face {
     font-family: 'Century Gothic';
     src: url('../font/GothamVnu-Book.woff');
 }
 
 @font-face {
     font-family: 'Century Gothic';
     src: url('../font/GothamVnu-Bold.woff');
     font-weight: bold;
 }
 
 body {
     background: -webkit-linear-gradient(#ffffff, #98afe1);
     /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#ffffff, #98afe1);
     /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#ffffff, #98afe1);
     /* For Firefox 3.6 to 15 */
     background: linear-gradient(#ffffff, #98afe1);
     /* Standard syntax */
 }
 
 @-moz-keyframes blinker {
     0% {
         opacity: 1.0;
     }
     50% {
         opacity: 0.0;
     }
     100% {
         opacity: 1.0;
     }
 }
 
 @-webkit-keyframes blinker {
     0% {
         opacity: 1.0;
     }
     50% {
         opacity: 0.0;
     }
     100% {
         opacity: 1.0;
     }
 }
 
 @keyframes blinker {
     0% {
         opacity: 1.0;
     }
     50% {
         opacity: 0.0;
     }
     100% {
         opacity: 1.0;
     }
 }
 
 .minute-blink {
     -webkit-animation-name: blinker;
     -webkit-animation-duration: 2s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: blinker;
     -moz-animation-duration: 2s;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count: infinite;
     animation-name: blinker;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }
 
 .click-to-phone-porfolio img {
     -webkit-animation-name: blinker;
     -webkit-animation-duration: 2s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: blinker;
     -moz-animation-duration: 2s;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count: infinite;
     animation-name: blinker;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }
 
 .home-text-blink {
     margin: -20px 0 10px 0;
     text-align: center;
     -webkit-animation-name: blinker;
     -webkit-animation-duration: 2s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: blinker;
     -moz-animation-duration: 2s;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count: infinite;
     animation-name: blinker;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }
 
 .h1,
 .h2,
 .h3,
 h1,
 h2,
 h3 {
     margin: 0;
 }
 
 img {
     max-width: 100%;
 }
 
 .title-default {
     font-family: Century Gothic;
     color: #004ebc;
     font-size: 21px;
     line-height: 25px;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 10px;
 }
 
 .sub-title-default {
     font-family: Century Gothic;
     color: #ff4600;
     font-size: 16px;
     line-height: 25px;
 }
 
 .p-default {
     font-family: Century Gothic;
     font-size: 15px;
 }
 
 .container {
     max-width: 1300px !important;
 }
 
 header {
     padding: 0px 0px 1px 0px;
     margin-bottom: 0 !important;
 }
 
 header .logo {
     padding-top: 10px;
 }
 
 header .logo img {
     max-width: 100%;
 }
 
 header .phone {
     font-family: Century Gothic;
     text-align: right;
 }
 
 header .phone .content {
     margin-right: 25px;
 }
 
 header .phone .content .title {
     color: #ff4600;
     font-size: 25px;
     text-transform: uppercase;
     line-height: 20px;
     font-weight: bold;
 }
 
 header .phone .content .title {
     -webkit-animation-name: blinker;
     -webkit-animation-duration: 2s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: blinker;
     -moz-animation-duration: 2s;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count: infinite;
     animation-name: blinker;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }
 
 header .phone .content .phone-number {
     color: #004ebc;
     font-size: 37px;
     line-height: 35px;
 }
 
 header .phone .content .wrt {
     color: #ff4600;
     font-size: 16px;
     text-transform: uppercase;
     line-height: 10px;
 }
 
 header .click-to-phone-image {
     display: none;
 }
 
 header .click-to-call-phone {
     margin-top: 3px;
     display: none;
 }
 
 .click-to-phone-porfolio {
     display: none;
     clear: both;
     /*background: #ff4600;*/
 }
 
 .click-to-phone-porfolio .click-to-phone-image {
     text-align: left !important;
     background: #fff;
     padding: 8px;
 }
 
 .click-to-phone-porfolio .click-to-phone-image .left {
     color: #ff4600;
     text-transform: uppercase;
 }
 
 .click-to-phone-porfolio .click-to-phone-image .left .flooded {
     font-weight: bold;
     font-size: 30px;
     line-height: 25px;
 }
 
 .click-to-phone-porfolio .click-to-phone-image .left .emergency {
     font-size: 14px;
     font-weight: bold;
 }
 
 .click-to-phone-porfolio .click-to-call-phone .right {
     color: #fff !important;
     text-transform: uppercase;
 }
 
 .click-to-phone-porfolio .click-to-call-phone .right .phone-number {
     line-height: 35px;
 }
 
 .click-to-phone-porfolio .click-to-call-phone .right .click {
     font-size: 12px;
 }
 
 .menu-main {
     background-color: #004ebc;
 }
 
 .menu-main .request-quote {
     float: left;
     font-family: Century Gothic;
     color: #fff;
     text-transform: uppercase;
     font-size: 15px;
     padding: 15px 0;
 }
 
 .menu-main .navbar-nav {
     float: right;
 }
 
 .menu-main .navbar-nav li a {
     font-family: Century Gothic;
     color: #fff;
     text-transform: uppercase;
     font-size: 15px;
     line-height: 23px;
     border-right: 1px solid rgba(255, 255, 255, 0.18);
 }
 
 .menu-main .navbar-nav li a:hover,
 .menu-main .navbar-nav li a:active,
 .menu-main .navbar-nav li a:focus {
     padding-bottom: 12px;
     border-bottom: 3px solid #fff;
     background-color: transparent;
 }
 
 .menu-main .navbar-nav li.parent-item.open a {
     color: #333;
 }
 
 .menu-main .navbar-nav li ul.dropdown-menu li a {
     color: #333;
     padding: 10px 20px;
 }
 
 .menu-main .navbar-toggle {
     background: #fff;
 }
 
 .menu-main .navbar-toggle .icon-bar {
     background: #004ebc;
 }
 
 .page-default .content {
     background-color: #fff;
     padding-bottom: 200px;
     padding-top: 40px;
 }
 
 .page-default .content .sidebar-left {
     float: left;
     padding: 0 0 40px 45px;
 }
 
 .page-default .content .sidebar-left .menu-list {
     list-style: none;
     padding-left: 20px;
 }
 
 
 
 .page-default .content .main-content-wrap {
     float: right;
 }
 
 .page-default .content .main-content-wrap .sidebar-right {
     z-index: 999;
     margin-top: -110px;
     float: right;
 }
 
 .page-default .content .main-content-wrap .sidebar-right .image {
     text-align: center;
 }
 
 .page-default .content .main-content-wrap .sidebar-right .title {
     background-color: #ff4600;
     margin-top: 20px;
     font-family: Century Gothic;
     font-size: 20px;
     padding: 0px 20px;
     text-transform: uppercase;
     color: #fff;
 }
 
 .page-default .content .main-content-wrap .sidebar-right .phone {
     font-family: Century Gothic;
     font-size: 34px;
     padding: 0px 20px;
     text-transform: uppercase;
     color: #004ebc;
 }
 
 .page-default .content .page-content .image {
     text-align: center;
 }
 
 .page-home .sub-slider {
     margin-top: -120px;
     margin-bottom: 30px;
 }
 
 .page-home .sub-slider .col-xs-12 {
     z-index: 9999;
 }
 
 .page-bio span.pre-icon,
 .page-mold span.pre-icon,
 .page-fire span.pre-icon,
 .page-water span.pre-icon,
 .page-hurricane span.pre-icon {
     background: url(http://firstchoicerestoration.co/wp-content/themes/first-choice/img/img/pre-icon.png) no-repeat left;
     padding-left: 20px;
 }
 
 .page-bio img.img-content,
 .page-mold img.img-content,
 .page-fire img.img-content,
 .page-water img.img-content,
 .page-hurricane img.img-content {
     margin-top: 0px;
     float: right;
 }
 
 .page-forfolio article {
     margin-bottom: 50px;
     text-align: center;
 }
 
 .page-forfolio .pagination {
     display: block;
     text-align: center;
     padding-left: 0;
     margin: 0 0 20px 0;
     border-radius: 0;
     color: #ddd;
 }
 
 .page-forfolio .pagination a {
     position: relative;
     padding: 6px 12px;
     margin-left: -1px;
     line-height: 1.42857143;
     color: #337ab7;
     text-decoration: none;
     background-color: #fff;
     border: 1px solid #ddd;
 }
 
 .page-forfolio .pagination span.current {
     position: relative;
     padding: 6px 12px;
     margin-left: -1px;
     line-height: 1.42857143;
     color: #337ab7;
     text-decoration: none;
     background-color: #fff;
     border: 1px solid #ddd;
     color: #fff;
     cursor: default;
     background-color: #337ab7;
     border-color: #337ab7;
 }
 
 .page-forfolio img.attachment-thumbnail {
     width: 200px;
     border: 8px solid #ea5419;
     cursor: pointer;
 }
 
 .page-sitemap .page-list {
     font-family: Century Gothic;
     font-size: 16px;
     line-height: 30px;
 }
 
 .page-contact .content .main-content-wrap {
     float: left;
     padding-left: 40px;
 }
 
 .page-contact .sub-title-default,
 .page-contact .p-default {
     text-transform: uppercase;
     margin-bottom: 0;
 }
 
 .page-contact .sub-title-default.email,
 .page-contact .p-default.email {
     color: #004ebc;
 }
 
 .page-contact .sub-title-default {
     font-weight: bold;
 }
 
 .page-contact .info-bottom {
     margin-top: 20px;
 }
 
 .page-contact .sidebar-right {
     text-align: center;
 }
 
 .page-template-template-contact .contact-link {
     display: none !important;
 }
 
 .category-completed-projects .banner {
     border-top: 1px solid #fff;
 }
 
 .bs-docs-footer {
     background: #1b478b;
     overflow: hidden;
     width: 100%;
     padding-top: 20px;
     color: #FFFFFF;
     font-family: "Century Gothic";
 }
 
 .container-1 {
     padding: 0px 20px;
 }
 
 .container-1 h4.float-left {
     float: left;
 }
 
 .container-1 .btm-links a {
     font-size: 14px;
     padding: 5px;
     color: #FFFFFF;
     text-decoration: none;
     border-left: 1px solid #FFFFFF;
 }
 
 .container-1 .btm-links a.first-link {
     border-left: none;
 }
 
 .container-1 .block {
     color: #FFFFFF;
 }
 
 .container-1 .block i {
     color: #FFFFFF;
     font-size: 40px;
     margin-left: 30px;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
 }
 
 .container-1 .address i,
 .container-1 .contact-phone i {
     margin: 0px;
     float: left;
     margin-right: 8px;
 }
 
 .container-1 .contact-phone i {
     font-size: 30px;
 }
 
 .container-1 .contact-phone i {
     font-size: 30px;
 }
 
 .container-1 .address i {
     font-size: 20px;
     margin-left: 0px;
 }
 
 .container-1 .block i:hover {
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
 }
 
 .container-2 .copyright p {
     margin: 0;
 }
 
 .container-1 p {
     color: #72bf66;
     font-weight: 300;
 }
 
 .container-1 p.sdt {
     font-size: 25px;
     margin-bottom: 0px;
     margin-top: -5px;
 }
 
 .bs-docs-footer hr {
     margin-top: 37px;
     margin-bottom: 37px;
 }
 
 .bs-docs-footer .contact-us {
     font-family: Century Gothic;
     font-weight: bold;
     font-size: 25px;
     color: #ff4600;
 }
 
 .bs-docs-footer .menu-footer {
     border-top: 1px solid #005596;
     width: 94%;
     margin: 187px 3% 20px;
     padding-top: 10px;
 }
 
 .bs-docs-footer .menu-footer .copyright,
 .bs-docs-footer .menu-footer .copyright a {
     /* border-right: 1px solid #0a0006; */
     padding: 0 10px;
     color: #0a0006;
     font-size: 11px;
     font-family: Century Gothic;
 }
 
 .bs-docs-footer .menu-footer .copyright:last-child,
 .bs-docs-footer .menu-footer .copyright a:last-child {
     border-right: 0;
 }
 
 .bs-docs-footer .menu-footer .giaa {
     text-align: right;
 }
 
 .pagination {
     clear: both;
 }
 
 .uc_tittle,
 small {
     font-family: 'Century Gothic';
 }
 
 .header-wrapper {
     background-image: url(../img/bg-header-2.png);
     background-repeat: no-repeat;
 }
 
 .copyright {
     background-color: #444;
     width: 100%;
     color: #FFFFFF;
 }
 /*========== main style =========*/
 
 @media (min-width: 1300px) {
     .container {
         width: 1300px !important;
     }
     header .logo img {
         margin-left: 0px;
     }
     .menu-main .request-quote {
         margin-left: 40px;
     }
     .menu-main .navbar-nav {
         margin-right: 160px;
     }
     .page-default .content {
         padding-bottom: 170px;
     }
     .page-home .content {
         padding-bottom: 220px !important;
     }
     .bs-docs-footer {
         background-position: top;
         margin-top: -240px;
     }
     .bs-docs-footer .menu-footer {
         margin-top: 150px;
     }
     .page-contact .form-contact {
         margin-top: 30px;
     }
     .page-contact .form-contact .control-label {
         line-height: 33px;
     }
     .page-contact #first_name,
     .page-contact #last_name,
     .page-contact #pri_phone,
     .page-contact #sec_phone,
     .page-contact #loss_cause,
     .page-contact #prop,
     .page-contact #loss_type,
     .page-contact #email,
     .page-contact #priority {
         width: 200px;
     }
     .page-contact #postal_code {
         width: 100px;
     }
     .page-contact #street_add {
         width: 300px;
     }
     .page-contact #apt {
         width: 100px;
     }
     .page-contact #prop {
         margin-left: -12px;
     }
     .page-contact #email {
         width: 404px;
     }
     .page-contact select {
         width: 207px !important;
     }
     .page-contact #comments {
         width: 672px;
     }
 }
 
 @media (max-width: 1299px) {
     .title-default {
         font-size: 16px;
     }
     .sub-title-default {
         font-size: 15px;
         line-height: 20px;
     }
     .page-default .content {
         padding-bottom: 120px;
     }
     .page-default .content .main-content-wrap .sidebar-right .title {
         font-size: 14px !important;
     }
     .page-default .content .main-content-wrap .sidebar-right .phone {
         font-size: 25px !important;
     }
     .page-home .content {
         padding-bottom: 150px !important;
     }
     .bs-docs-footer {
         margin-top: -150px;
         background-position: top;
     }
     .bs-docs-footer .contact-us {
         font-size: 18px;
     }
     .bs-docs-footer .menu-footer {
         margin-top: 100px;
     }
 }
 
 @media (max-width: 1023px) {
     .container {
         padding: 0;
     }
     .row {
         margin: 0;
     }
     header .phone .content .main-content-wrap {
         padding-left: 45px;
     }
     header .phone .content .title {
         font-size: 20px;
     }
     header .phone .content .phone-number {
         font-size: 25px;
     }
     header .phone .content .wrt {
         font-size: 13px;
     }
     .menu-main .request-quote {
         font-size: 13px;
         margin-left: 20px;
     }
     .menu-main .navbar-nav li a {
         font-size: 13px;
         line-height: 18px;
         padding: 15px 10px;
     }
     .page-default .content {
         padding-top: 20px;
     }
     .page-default .content .sidebar-left {
         border-top: 1px solid #004ebc;
         padding: 15px 30px;
         margin-top: 20px;
         width: 100%;
     }
     .page-home .sub-slider {
         margin-top: -70px;
     }
     .bs-docs-footer {
         background-position: bottom;
     }
     .page-bio img.img-content,
     .page-fire img.img-content,
     .page-water img.img-content,
     .page-mold img.img-content {
         display: block !important;
         margin: 0 auto;
         float: none;
         margin-top: 0px;
     }
     .page-contact .form-group {
         margin-bottom: 15px;
     }
     .page-contact .sidebar-right {
         clear: both;
     }
     .form-inline .form-control {
         width: 100% !important;
         margin-top: 10px;
     }
     #datetimepicker1 {
         margin-top: 10px;
     }
     #datetimepicker1 .form-control {
         margin-top: 0px;
     }
 }
 
 @media (max-width: 767px) {
     .container-fluid > .navbar-collapse,
     .container-fluid > .navbar-header,
     .container > .navbar-collapse,
     .container > .navbar-header {
         margin: 0;
     }
     header .phone .content .title {
         font-size: 16px;
     }
     header .phone .content .phone-number {
         font-size: 20px;
         line-height: 15px;
     }
     header .phone .content .wrt {
         font-size: 10px;
         line-height: 10px;
     }
     .page-default .content {
         padding-bottom: 200px !important;
     }
     .menu-main .navbar-nav {
         float: left;
         width: 100%;
         margin: 0;
     }
     .menu-main .navbar-nav li a {
         padding: 15px 20px;
     }
     .menu-main .navbar-nav .parent-item.open a {
         color: #000;
     }
     .menu-main .navbar-nav .parent-item.open .dropdown-menu a {
         color: #fff;
         padding: 8px 40px;
     }
     .menu-main .navbar-nav .parent-item.open .dropdown-menu a:hover {
         color: #000;
     }
     .navbar-collapse {
         padding: 0;
     }
     .page-default .content .main-content-wrap .sidebar-right {
         margin-top: 30px;
         text-align: center;
     }
     .bs-docs-footer .menu-footer {
         margin-top: 30px;
         text-align: center;
     }
     .bs-docs-footer .menu-footer .giaa {
         text-align: center;
         margin-top: 20px;
     }
     .bs-docs-footer {
         margin-top: -140px;
     }
     .bs-docs-footer .contact-us-wrap {
         width: 100%;
         margin: 30px 0 0 0;
         text-align: right;
     }
     .bs-docs-footer .contact-us-wrap .contact-us {
         font-size: 13px;
     }
     .bs-docs-footer .copyright a {
         display: block;
         text-align: center;
         border-right: 0 !important;
         margin-bottom: 8px;
     }
     .page-home .sub-slider .slide-item {
         margin-bottom: 10px;
         padding: 3px !important;
     }
     .page-home .sub-slider .slide-item a img:hover {
         border: 1px solid;
         box-shadow: 4px 10px 5px rgba(136, 136, 136, 0.46);
     }
     .property-type,
     .loss-type {
         margin-top: 10px;
     }
     .property-type .control-label,
     .loss-type .control-label {
         padding: 0;
     }
     .property-type .col-md-6,
     .loss-type .col-md-6 {
         padding: 0;
     }
 }
 
 @media (max-width: 479px) {
     header .logo,
     header .phone {
         width: 100%;
     }
     header .logo {
         text-align: center;
         margin-bottom: 10px;
     }
     header .phone {
         display: none;
     }
     .click-to-phone-image {
         display: block !important;
         text-align: right !important;
     }
     .click-to-call-phone {
         display: block !important;
         font-family: Century Gothic !important;
         font-size: 28px !important;
         font-weight: bold !important;
         text-align: right !important;
         margin-top: 3px !important;
     }
     .click-to-call-phone a {
         color: #ff4600 !important;
     }
     .page-default .content {
         padding-bottom: 200px !important;
     }
     header {
         padding-bottom: 0;
     }
     .bs-docs-footer {
         margin-top: -180px;
     }
     .bs-docs-footer .contact-us {
         font-size: 15px;
     }
     .page-home .sub-slider {
         margin-top: -50px;
     }
     .click-to-phone-porfolio {
         display: block;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .flooded {
         font-size: 26px !important;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .emergency {
         font-size: 12px !important;
     }
     .click-to-phone-porfolio .click-to-call-phone .right .phone-number {
         line-height: 15px !important;
         padding: 10px 0 5px !important;
     }
     .click-to-phone-porfolio .click-to-call-phone .right .click {
         font-size: 10px !important;
     }
     .click-to-phone-porfolio .wrt {
         color: #ff4600;
         font-size: 16px;
         text-transform: uppercase;
         text-align: center;
     }
 }
 
 @media (max-width: 399px) {
     .click-to-call-phone {
         font-size: 22px;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .flooded {
         font-size: 21px !important;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .emergency {
         font-size: 9px !important;
     }
     .click-to-call-phone .right .phone-number {
         line-height: 15px !important;
         padding: 10px 0 5px !important;
         font-size: 22px !important;
     }
     .click-to-call-phone .right .click {
         font-size: 10px !important;
     }
     .click-to-phone .click-to-call-phone a {
         font-size: 22px;
     }
 }
 
 @media (max-width: 319px) {
     .click-to-call-phone {
         font-size: 18px !important;
     }
     .bs-docs-footer {
         margin-top: -210px;
     }
     .bs-docs-footer .contact-us {
         font-size: 13px;
     }
     .click-to-phone .click-to-call-phone a {
         font-size: 20px;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .flooded {
         font-size: 20px !important;
     }
     .click-to-phone-porfolio .click-to-phone-image .left .emergency {
         font-size: 8px !important;
     }
     .click-to-phone-porfolio .click-to-call-phone .right .phone-number {
         line-height: 15px !important;
         font-size: 20px !important;
     }
     .page-contact .info-bottom .email {
         font-size: 13px;
     }
 }
 /*========== flex slider ========*/
 
 .flexslider {
     margin: 0;
     border: none;
 }
 
 .flexslider .flex-prev,
 .flexslider .flex-next {}
 
 .flexslider .flex-prev::before {
     height: 40px;
     width: 40px;
     content: "\f053" !important;
     font: 32px FontAwesome;
     line-height: 40px;
     text-align: center;
     text-shadow: -1px 0 2px #fff, 0 -1px 2px #fff, 1px 0 2px #fff, 0 1px 2px #fff;
 }
 
 .flexslider .flex-next::before {
     height: 40px;
     width: 40px;
     content: "\f054" !important;
     font: 32px FontAwesome;
     line-height: 40px;
     text-align: center;
     text-shadow: -1px 0 2px #fff, 0 -1px 2px #fff, 1px 0 2px #fff, 0 1px 2px #fff;
 }
 
 .block {
     margin-bottom: 20px;
 }
 .first{
 	margin-top: 20px;
 }
 /*========== News ==========*/
 
 .newpost {
     border: 1px solid #004ebc;
     font-size: 0;
 }
 
 .newpost span {
     display: block;
     padding: 10px 20px;
     background-color: #004ebc;
     font: bold 21px "Century Gothic";
     color: #fff;
 }
 
 .newpost .post {
     padding: 20px;
 }
 
 .newpost img {
     padding: 3px;
     width: 100%;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }
 
 .newpost a {
     display: block;
     margin: 10px 0 0;
     font: 16px "Century Gothic";
     color: #ff4600;
     line-height: 22px;
 }
 
 .otherlink {
     border: 1px solid #004ebc;
 }
 
 .otherlink span {
    text-transform: uppercase;
     display: block;
     padding: 10px;
     background-color: #004ebc;
     font: bold 20px "Century Gothic";
     color: #fff;
 }
 
 .otherlink a {
     display: block;
     padding: 10px 5px 10px 25px;
     background: url(img/marker.png) no-repeat 10px center;
     font: 16px "Century Gothic";
     color: #ff4600;
     line-height: 22px;
 }
 
 .row-line {
     width: 100%;
     padding-bottom: 10px;
     border-bottom: 2px solid #004ebc;
 }
 
 .addmore .row-line span {
     color: #444;
     padding: 3px;
 }
 
 .tinanh {
     border: 1px solid #004ebc;
     margin-right: 30px;
 }
 
 .tinanh span.tittle {
    text-transform: uppercase;
     display: block;
     padding: 10px;
     background-color: #004ebc;
     font: bold 20px "Century Gothic";
     color: #fff;
 }
 
 .tinanh .items {
     padding: 5px;
     width: 100%;
     display: block;
     margin-bottom: 5px;
     margin-top: 5px;
     float: left;
     */
 }
 
 .tinanh .items img {
     float: left;
     margin-right: 10px;
     width: 70px;
     padding: 2px;
     border: #CCC 1px solid;
 }
 
 .tinanh .items a {
     text-transform: uppercase;
     font: 14px "Century Gothic";
     color: #ff4600;
     font-weight: bold;
     text-decoration: none;
 }
 
 .tinanh .link a.linkmore {
     font: 16px "Century Gothic";
     color: #ff4600;
     line-height: 22px;
     padding-right: 10px;
 }
 
 .tinanh .link {
     box-sizing: border-box;
     text-align: right;
     display: block;
     width: 100%;
     margin: 5px;
 }
 
 .tinanh .items span.info {
     display: block;
     font-size: 11px;
     color: rgb(153, 153, 153);
     font-weight: normal;
 }
 
 .row-line {
     width: 100%;
     border-bottom: 4px solid #004ebc;
 }
 
 .addmore .row-line span {
     color: #444;
     padding: 3px;
 }
 
 @media (min-width: 992px) {
     .addmore {
         display: flex;
     }
     .newpost {
         margin-left: 30px;
         height: 100%;
     }
     .otherlink {
         margin-right: 30px;
         height: 100%;
     }
 }
 /*========== member=========*/
 
 .member {
     font-size: 0;
     margin: 0 20px;
 }
 
 .member>span {
     display: block;
     padding: 5px 20px;
     font: bold 21px "Century Gothic";
     color: #444;
     border-bottom: 3px solid #004ebc;
 }
 
 .member .post {
     padding: 20px;
 }
 
 .member img {
     padding: 3px;
     width: 100%;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }
 
 .member a {
     display: block;
     margin: 10px 0 0;
     font: 16px "Century Gothic";
     color: #ff4600;
     line-height: 22px;
 }
 
 @media (min-width: 992px) {
     .addmore {
         display: flex;
     }
     .member {
         margin: 0 15px;
         height: 100%;
     }
     .otherlink {
         margin-right: 30px;
         height: 100%;
     }
 }
 /*========== member=========*/
