<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>hoaanphat.com.vn</title>

	<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.less" rel="stylesheet/less">

	<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/less.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="body-wrapper container">
		<!-- Header of Website -->
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
		</header> <!-- End Header of Website -->

		<!-- Main Content of Website -->
		<div class="main-wrapper product-service">
			<!-- Main Content -->
			<div class="row main-content">
				<!-- Main Content -->
				<div class="main-content col-sm-8">
					<img src="http://qmdgroup.com/images/banner/gioithieu-banner-hoptac.jpg" class="img-thumbnail"/>
	
					<!-- Category Product List -->
					<div class="row articles">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Tin tức - Tin Doanh nghiệp</h3>
						<div class="col-sm-12" style="margin-bottom: 25px;">
							<div class="col-sm-3 news-images">
								<img src="http://phuanphat.com/Uploads/News/29920141034567183139thi-truong-thep-the-gioi.jpg" alt="..." class="img-thumbnail">
							</div>
							<div class="col-sm-9 news-content">
								<a href="#"><strong>Thông tin thị trường thép thế giới ngày 12/3/2014</strong></a>
								<p class="short-desc">China Steel Corp. (CSC), nhà sản xuất thép cac bon lớn nhất tại Đài Loan, sẽ đưa ra niêm yết giá thép tấm AP trong tháng 4 vào tuần tới.</p>
							</div>
						</div>
						<div class="col-sm-12" style="margin-bottom: 25px;">
							<div class="col-sm-3 news-images">
								<img src="http://phuanphat.com/Uploads/News/3092014923358439928tong-quan-thi-truong-thep-viet-nam.jpg" alt="..." class="img-thumbnail">
							</div>
							<div class="col-sm-9 news-content">
								<a href="#"><strong>Tổng quan thị trường thép tháng đầu năm 2014 và dự báo</strong></a>
								<p class="short-desc">Do nhu cầu thép cả nước năm 2014 không tăng đột biến, nên công suất  sản xuất thép vẫn dư thừa, cạnh tranh giữa các công ty trong nước vẫn diễn ra mãnh liệt và sẽ xuất hiện...</p>
							</div>
						</div>
						<div class="col-sm-12" style="margin-bottom: 25px;">
							<div class="col-sm-3 news-images">
								<img src="http://phuanphat.com/Uploads/News/16120131342262977589xang[1].jpg" alt="..." class="img-thumbnail">
							</div>
							<div class="col-sm-9 news-content">
								<a href="#"><strong>Yêu cầu doanh nghiệp xăng dầu giảm tần suất tăng giá</strong></a>
								<p class="short-desc">Từ nay đến hết tháng 6, các doanh nghiệp xăng dầu phải thực hiện việc giãn các lần tăng giá bán lẻ để tránh ảnh hưởng đến hoạt động sản xuất.</p>
							</div>
						</div>
						<div class="col-sm-12" style="margin-bottom: 25px;">
							<div class="col-sm-3 news-images">
								<img src="http://phuanphat.com/Uploads/News/832013145456314435phu%20an%20phat.jpg" alt="..." class="img-thumbnail">
							</div>
							<div class="col-sm-9 news-content">
								<a href="#"><strong>Kim ngạch xuất khẩu sắt, thép trong tháng 8 của Đài Loan đạt tổng cộng 1,45 tỉ USD</strong></a>
								<p class="short-desc">Theo số liệu được đưa ra bởi Bộ Tài chính Đài Loan, kim ngạch xuất khẩu sắt, thép và các vật liệu làm từ sắt và thép trong tháng 8 của Đài Loan...</p>
							</div>
						</div>
						<div class="col-sm-12" style="margin-bottom: 25px;">
							<div class="col-sm-3 news-images">
								<img src="http://phuanphat.com/Uploads/News/83201315142368718604112010156.jpg" alt="..." class="img-thumbnail">
							</div>
							<div class="col-sm-9 news-content">
								<a href="#"><strong>Bài học “chết lâm sàng” từ ngành Thép</strong></a>
								<p class="short-desc">Bỏ qua cảnh báo của nhiều chuyên gia kinh tế, trong thời gian dài, hàng loạt dự án thép vẫn được các địa phương cấp phép ồ ạt.</p>
							</div>
						</div>
					</div><!-- END Category Product List -->
				</div> <!-- End Homepage content -->

				<!-- Sidebar right -->
				<div class="sidebar-right col-sm-4">
					<!-- Sidebar Right Menu News -->
					<div class="row product-categories menu-right">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Tin tức</h3>	
						<div class="col-sm-12 job-item">
							<ul class="menu-sidebar list-unstyled">
								<li><a href="#">Tin công ty</a></li>
								<li><a href="#">Thông tin thị trường thép</a></li>
								<li><a href="#">Tin tức tuyển dụng</a></li>
								<li><a href="#">Chính sách thuế</a></li>
								<li><a href="#">Định hướng phát triển</a></li>
							</ul>
						</div>
					</div><!-- END Sidebar Right Menu News -->

					<!-- Sidebar Right Video Block -->
					<div class="row video">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> VIDEOS CLIP</h3>
						<div class="embed-responsive embed-responsive-16by9 col-md-offset-1 col-md-10">
							<iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/5-tBJ-uM_tc" frameborder="0" allowfullscreen></iframe>
						</div>
					</div><!-- END Sidebar Right Video Block -->

					<!-- Sidebar Right Featured News -->
					<div class="row featured-news">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Tin nổi bật</h3>
						<div class="col-sm-12">
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://minhanphat.com.vn/public/uploads/products/small/7-1409193399.jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Thông tin thị trường thép thế giới ngày 12/3/2014</strong></a>
									<p>China Steel Corp. (CSC), nhà sản xuất thép cac bon lớn nhất tại Đài Loan...</p>
								</div>
							</div>
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://phuanphat.com/Uploads/News/16120131342262977589xang[1].jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Yêu cầu doanh nghiệp xăng dầu giảm tần suất tăng giá</strong></a>
									<p>Từ nay đến hết tháng 6, các doanh nghiệp xăng dầu phải thực hiện việc giãn các lần tăng giá bán lẻ để tránh ảnh hưởng...</p>
								</div>
							</div>
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://phuanphat.com/Uploads/News/8320131456543431497phu%20an%20phat.jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Baosteel nâng giá thép tháng 10 bất chấp thị trường suy yếu</strong></a>
									<p>Theo các nguồn tin cho biết, nhà máy Baosteel đã thông báo nâng giá niêm yết thép tháng 10 dù tình hình...</p>
								</div>
							</div>
						</div>
					</div><!-- END Sidebar Right Featured News -->
				</div><!-- Sidebar Right -->
			</div><!-- End Main Content -->

			<!-- Partners Blocks -->
			<div class="row partners">
				<div class="col-md-12" style="border-top: 3px solid #014b92;">
					<div class="carousel slide" id="carousel-partners">
			          	<div class="carousel-inner">
			                <div class="item active">
			                  	<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  		<a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/outo-1411376552.jpg" class="img-thumbnail"></a>
			                  	</div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/map-3-1411187264.jpg" class="img-thumbnail"></a></div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/acerinox-1411376787.jpg" class="img-thumbnail"></a></div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/nippon-1411437210.jpg" class="img-thumbnail"></a></div>
			                </div>
			          	</div>
			          	<a class="left carousel-control" href="#carousel-partners" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			          	<a class="right carousel-control" href="#carousel-partners" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
			        </div>
				</div>
			</div><!-- END Partners Blocks -->

			<!-- Footer of website -->
			<footer class="row">
				<div class="menu-bottom col-md-12">
					<ul class="list-unstyled list-inline">
						<li><a href="#">Trang chủ</a></li>
						<li><a href="#">Công ty</a></li>
						<li><a href="#">Sản phẩm - Dịch vụ</a></li>
						<li><a href="#">Tin tức</a></li>
						<li><a href="#">Tuyển dụng</a></li>
						<li><a href="#">Liên hệ</a></li>
					</ul>
					<!-- |
					<a rel="nofollow" href="#">Giới thiệu</a>|
					<a rel="nofollow" href="#">Đăng ký <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Gian hàng <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Quảng cáo <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Liên hệ</a>|
					<a target="_blank" href="#">ENGLISH</a> -->
				</div>
				<div class="copyright col-md-12">
					Copyright © 2015 <strong>Phú An Phát</strong> Việt Nam. All rights reserved.
				</div>
			</footer>
		</div>
	</body>

	<script type="text/javascript">
	$(function(){
      $("header").load("includes/header.html"); 
    });

	$('#carousel-partners').carousel({
	  interval: 40000
	});

	$('#carousel-partners .item').each(function(){
	  var next = $(this).next();
	  if (!next.length) {
	    next = $(this).siblings(':first');
	  }
	  next.children(':first-child').clone().appendTo($(this));

	  if (next.next().length>0) {
	 
	      next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');
	      
	  }
	  else {
	      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
	     
	  }
	});
	</script>
	</html>