<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>hoaanphat.com.vn</title>

	<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.less" rel="stylesheet/less">

	<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/less.min.js" type="text/javascript"></script>

	<style>
	.carousel-inner .active.left { left: -33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev        { left: -33%; }
	.carousel-control.left,.carousel-control.right {background-image:none;}
	.item:not(.prev) {visibility: visible;}
	.item.right:not(.prev) {visibility: hidden;}
	.rightest{ visibility: visible;}
	</style>
</head>
<body>
	<div class="body-wrapper container">
		<!-- Header of Website -->
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
			<div>
				<!-- Logo and Toggle navigation -->
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">
						<img src="images/logo.png" class="logo img-responsive" alt="Responsive image">
					</a>
				</div> <!-- end Logo and Toggle navigation -->

				<!-- Search and Multi language Block -->
				<nav class="collapse navbar-collapse bs-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="search-form">
							<form action="#" method="GET">
								<input type="text" class="form-control" id="keyword-search" placeholder="Tìm kiếm">
								<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</form>
						</li>
						<li class="flag"><a href="#"><img src="images/vietnam.png" style="margin-right: 10px;"></a></li>
						<li class="flag"><a href="#"><img src="images/england.png" style="margin-right: 10px;"></a></li>
						<li class="flag"><a href="#"><img src="images/japan.png" style="margin-right: 20px;"></a></li>
					</ul>
				</nav> <!-- END Search and Multi language Block -->
			</div>

			<!-- Main Menu -->
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Trang chủ</a></li>
					<li><a href="#about">Công ty</a></li>
					<li><a href="#contact">Sản phẩm - Dịch vụ</a></li>
					<li><a href="#contact">Tin tức</a></li>
					<li><a href="#contact">Tuyển dụng</a></li>
					<li><a href="#contact">Liên hệ</a></li>
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li> -->
				</ul>
			</div> <!-- End Main Menu -->
		</header> <!-- End Header of Website -->

		<!-- Main Content of Website -->
		<div class="main-wrapper product-service">
			<!-- Main Content -->
			<div class="row main-content">
				<!-- Main Content -->
				<div class="main-content col-sm-8">
					<img src="http://qmdgroup.com/images/banner/gioithieu-banner-hoptac.jpg" class="img-thumbnail"/>
	
					<div class="row">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> INOX TẤM CUỘN</h3>
						<div class="col-sm-6">
							<img src="http://minhanphat.com.vn/public/uploads/products/small/7-1409193399.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-sm-6">
							<p class="price"><strong>Đơn giá: <span style="color: #f00">70.000 VND</span></strong></p>
							<ul class="list-unstyled">
								<li><strong>Xuất xứ: </strong>Hàn Quốc, Trung Quốc, Việt Nam</li>
								<li><strong>Nhãn hiệu: </strong>Hoa An Phat</li>
								<li><strong>Mã: </strong>SPC04</li>
							</ul>
							<p>Inox cuộn SUS304 có độ dày trải rông từ 0.3mm đến 12mm và có nhiều khổ rông khách nhau cũng như các loại bề mặt rất đa dạng, nên được ừng dụng trong rất nhiều ngành công nghiệp như: chế tạo ô tô, chế tạo máy móc thực phẩm, đồ dùng gia đình,  xây dựng công nghiệp... </p>

							<!-- <div class="row">
								<h3 class="header-title col-sm-12">Hỗ trợ mua hàng trực tuyến</h3>

								<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
								<div class="col-sm-6 skype-chat" id="SkypeButton_Call_trunghpt_1">
								  <script type="text/javascript">
								    Skype.ui({
								      "name": "chat",
								      "element": "SkypeButton_Call_trunghpt_1",
								      "participants": ["trunghpt"],
								      "imageSize": 32
								    });
								  </script>
								</div>
								<div class="col-sm-6">
									<img src='http://opi.yahoo.com/online?u=NICK_CUA_BAN&m=g&t=2'/>
								</div>
							</div> -->
						</div>
						<div class="col-sm-12">
							<h3 class="col-sm-12 header-title" style="padding: 0">Thông tin chi tiết Sản phẩm</h3>
							<div>
								<p>Inox cuộn SUS304 có độ dày trải rông từ 0.3mm đến 12mm và có nhiều khổ rông khách nhau cũng như các loại bề mặt rất đa dạng, nên được ừng dụng trong rất nhiều ngành công nghiệp như: chế tạo ô tô, chế tạo máy móc thực phẩm, đồ dùng gia đình,  xây dựng công nghiệp... </p>
								<p>Inox cuộn SUS304 </p>
								<p>Xuất xứ: Tây Ban Nha, Nhật Bản, Hàn Quốc</p>
								<p>Chất lượng: hàng loại 1</p>
								<p>Độ bóng: BA/2B/ No4, HL, No.1</p>
								<p>Độ dày: từ 0.3mm - 12.0mm</p>
								<p>Khổ cuộn: 1000mm, 1220mm, 1524mm</p>
							</div>
						</div>
					</div><!-- END Category Product List -->
				</div> <!-- End Homepage content -->

				<!-- Sidebar right -->
				<div class="sidebar-right col-sm-4">
					<!-- Sidebar Right Main Job Block -->
					<div class="row product-categories menu-right">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Nhóm Sản phẩm</h3>	
						<div class="col-sm-12 job-item">
							<ul>
								<li><a href="#">Thép tấm</a></li>
								<li><a href="#">Thép dùng làm khuôn dập nguội</a></li>
								<li><a href="#">Thép dùng làm khuôn nhựa</a></li>
								<li><a href="#">Thép gió</a></li>
								<li><a href="#">Thép cacbon kết cấu chế tạo máy</a></li>
								<li><a href="#">Thép hình</a></li>
							</ul>
						</div>
					</div><!-- END Sidebar Right Main Job Block -->

					<div class="row services menu-right">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Dịch vụ</h3>	
						<div class="col-sm-12 job-item">
							<ul>
								<li><a href="#">Gia công cắt CNC</a></li>
								<li><a href="#">Gia công chi tiết máy chính xác</a></li>
								<li><a href="#">Nhiệt luyện chân không</a></li>
								<li><a href="#">Gia công mài</a></li>
							</ul>
						</div>
					</div>

					<!-- Sidebar Right Video Block -->
					<div class="row video">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> VIDEOS CLIP</h3>
						<div class="embed-responsive embed-responsive-16by9 col-md-offset-1 col-md-10">
							<iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/5-tBJ-uM_tc" frameborder="0" allowfullscreen></iframe>
						</div>
					</div><!-- END Sidebar Right Video Block -->

					<!-- Sidebar Right Featured News -->
					<div class="row featured-news">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Tin nổi bật</h3>
						<div class="col-sm-12">
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://minhanphat.com.vn/public/uploads/products/small/7-1409193399.jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Thông tin thị trường thép thế giới ngày 12/3/2014</strong></a>
									<p>China Steel Corp. (CSC), nhà sản xuất thép cac bon lớn nhất tại Đài Loan...</p>
								</div>
							</div>
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://phuanphat.com/Uploads/News/16120131342262977589xang[1].jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Yêu cầu doanh nghiệp xăng dầu giảm tần suất tăng giá</strong></a>
									<p>Từ nay đến hết tháng 6, các doanh nghiệp xăng dầu phải thực hiện việc giãn các lần tăng giá bán lẻ để tránh ảnh hưởng...</p>
								</div>
							</div>
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://phuanphat.com/Uploads/News/8320131456543431497phu%20an%20phat.jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Baosteel nâng giá thép tháng 10 bất chấp thị trường suy yếu</strong></a>
									<p>Theo các nguồn tin cho biết, nhà máy Baosteel đã thông báo nâng giá niêm yết thép tháng 10 dù tình hình...</p>
								</div>
							</div>
						</div>
					</div><!-- END Sidebar Right Featured News -->
				</div><!-- Sidebar Right -->
			</div><!-- End Main Content -->

			<!-- Partners Blocks -->
			<div class="row partners">
				<div class="col-md-12" style="border-top: 3px solid #014b92;">
					<div class="carousel slide" id="carousel-partners">
			          	<div class="carousel-inner">
			                <div class="item active">
			                  	<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  		<a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/outo-1411376552.jpg" class="img-thumbnail"></a>
			                  	</div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/map-3-1411187264.jpg" class="img-thumbnail"></a></div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/acerinox-1411376787.jpg" class="img-thumbnail"></a></div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/nippon-1411437210.jpg" class="img-thumbnail"></a></div>
			                </div>
			          	</div>
			          	<a class="left carousel-control" href="#carousel-partners" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			          	<a class="right carousel-control" href="#carousel-partners" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
			        </div>
				</div>
			</div><!-- END Partners Blocks -->

			<!-- Footer of website -->
			<footer class="row">
				<div class="menu-bottom col-md-12">
					<ul class="list-unstyled list-inline">
						<li><a href="#">Trang chủ</a></li>
						<li><a href="#">Công ty</a></li>
						<li><a href="#">Sản phẩm - Dịch vụ</a></li>
						<li><a href="#">Tin tức</a></li>
						<li><a href="#">Tuyển dụng</a></li>
						<li><a href="#">Liên hệ</a></li>
					</ul>
					<!-- |
					<a rel="nofollow" href="#">Giới thiệu</a>|
					<a rel="nofollow" href="#">Đăng ký <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Gian hàng <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Quảng cáo <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Liên hệ</a>|
					<a target="_blank" href="#">ENGLISH</a> -->
				</div>
				<div class="copyright col-md-12">
					Copyright © 2015 <strong>Phú An Phát</strong> Việt Nam. All rights reserved.
				</div>
			</footer>
		</div>
	</body>

	<script type="text/javascript">
	$('#carousel-partners').carousel({
	  interval: 40000
	});

	$('#carousel-partners .item').each(function(){
	  var next = $(this).next();
	  if (!next.length) {
	    next = $(this).siblings(':first');
	  }
	  next.children(':first-child').clone().appendTo($(this));

	  if (next.next().length>0) {
	 
	      next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');
	      
	  }
	  else {
	      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
	     
	  }
	});
	</script>
	</html>