<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>hoaanphat.com.vn</title>

	<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.less" rel="stylesheet/less">

	<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/less.min.js" type="text/javascript"></script>

	<style>
	.carousel-inner .active.left { left: -33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev        { left: -33%; }
	.carousel-control.left,.carousel-control.right {background-image:none;}
	.item:not(.prev) {visibility: visible;}
	.item.right:not(.prev) {visibility: hidden;}
	.rightest{ visibility: visible;}
	</style>
</head>
<body>
	<div class="body-wrapper container">
		<!-- Header of Website -->
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
			<div>
				<!-- Logo and Toggle navigation -->
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">
						<img src="images/logo.png" class="logo img-responsive" alt="Responsive image">
					</a>
				</div> <!-- end Logo and Toggle navigation -->

				<!-- Search and Multi language Block -->
				<nav class="collapse navbar-collapse bs-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="search-form">
							<form action="#" method="GET">
								<input type="text" class="form-control" id="keyword-search" placeholder="Tìm kiếm">
								<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</form>
						</li>
						<li class="flag"><a href="#"><img src="images/vietnam.png" style="margin-right: 10px;"></a></li>
						<li class="flag"><a href="#"><img src="images/england.png" style="margin-right: 10px;"></a></li>
						<li class="flag"><a href="#"><img src="images/japan.png" style="margin-right: 20px;"></a></li>
					</ul>
				</nav> <!-- END Search and Multi language Block -->
			</div>

			<!-- Main Menu -->
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Trang chủ</a></li>
					<li><a href="#about">Công ty</a></li>
					<li><a href="#contact">Sản phẩm - Dịch vụ</a></li>
					<li><a href="#contact">Tin tức</a></li>
					<li><a href="#contact">Tuyển dụng</a></li>
					<li><a href="#contact">Liên hệ</a></li>
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li> -->
				</ul>
			</div> <!-- End Main Menu -->
		</header> <!-- End Header of Website -->

		<!-- Main Content of Website -->
		<div class="main-wrapper product-service">
			<!-- Main Content -->
			<div class="row main-content">
				<!-- Main Content -->
				<div class="main-content col-sm-8">
					<img src="http://qmdgroup.com/images/banner/gioithieu-banner-hoptac.jpg" class="img-thumbnail"/>
	
					<!-- Category Product List -->
					<div class="row articles">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Bài học “chết lâm sàng” từ ngành Thép</h3>
						<div class="col-sm-12" style="margin-bottom: 25px;">
							<div class="news-top-d">
           <div style="text-align: justify;">
	Bỏ qua cảnh báo của nhiều chuyên gia kinh tế, trong thời gian dài, hàng loạt dự án thép vẫn được các địa phương cấp phép ồ ạt. Hệ lụy tồn kho thép ngày một tăng, trong khi nhiều doanh nghiệp (DN) thép đang thua lỗ, thậm chí “chết lâm sàng”.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div class="separator" style="clear: both; text-align: center;">
	<a href="http://1.bp.blogspot.com/-PkFDM8x89ac/Uw_054LPe8I/AAAAAAAAQ64/KMwpwJpf3Ak/s1600/ChetLamSang-TapChiThep.jpg" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://1.bp.blogspot.com/-PkFDM8x89ac/Uw_054LPe8I/AAAAAAAAQ64/KMwpwJpf3Ak/s1600/ChetLamSang-TapChiThep.jpg"></a></div>
<div style="text-align: center;">
	Ám ảnh: Ế, tồn kho, lỗ</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Bộ Công Thương vừa cho biết, do kinh tế suy giảm, thị trường bất động sản đóng băng, xuất khẩu gặp khó nên các DN ngành thép đang phải thu hẹp quy mô, cắt giảm đến 40% công suất. Tình hình sản xuất và tiêu thụ của ngành thép trong tháng đầu năm 2014 tiếp tục gặp khó do mất cân đối cung - cầu.&nbsp;</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Theo Bộ Công Thương, trong tháng 1, sản lượng sắt, thép thô ước đạt 236.800 tấn, giảm 22,4% so với cùng kỳ; thép thanh, thép góc ước đạt 248.700 tấn, giảm 3%. Một số nhà máy thép đã nghỉ sản xuất trong dịp Tết để tiết kiệm chi phí duy trì vận hành vì nhận thấy nhu cầu sẽ không tăng sau Tết.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Ông Nguyễn Tiến Nghi, nguyên Phó Chủ tịch VSA cho PV Tiền Phong biết, khó khăn của ngành thép đã lộ diện từ cuối năm 2012 và đầu 2013.&nbsp;</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Tại thời điểm tháng 3/2013, đã có nhiều đơn vị ngành thép rơi vào tình trạng chết lâm sàng. Theo ông Nghi, những đơn vị này chủ yếu mới ra đời, chưa có thương hiệu. Để tránh phá sản, họ đã phải bán thép với giá thấp, nhưng vì bất động sản đóng băng nên không có ai mua, trong khi không xuất khẩu được.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Dù là đơn vị dẫn đầu ngành thép, nhưng Tổng Cty Thép Việt Nam (Vnsteel) cũng không tránh khỏi chao đảo. Hai năm liên tiếp, Vnsteel thua lỗ, nhiều chỉ tiêu chính không đạt kế hoạch.&nbsp;</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Các đơn vị thuộc Vnsteel phải tự điều chỉnh chỉ tiêu kỹ thuật ở mức tốt nhất, giúp giảm chi phí giá thành. Ông Lê Phú Hưng, Tổng GĐ Vnsteel từng cho biết, 7/13 công ty con của DN này thua lỗ, 5 DN liên doanh với Vnsteel cũng trong tình trạng không thể hòa vốn.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Tại Cty Cổ phần Gang thép Thái Nguyên, tình hình sáng hơn nhưng cũng chỉ dừng ở mức cố gắng duy trì sản xuất và giữ việc làm ổn định cho người lao động. Lãnh đạo Cty Thép tấm lá Phú Mỹ cho biết, vì nguyên liệu sản xuất thép và giá điện tăng trong khi lợi nhuận thấp, đầu ra gặp khó đã khiến DN lao đao.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	<b>Thị trường hỗn độn do đâu?</b></div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Một lãnh đạo Vụ Công nghiệp nặng (Bộ Công Thương) cho biết, không chỉ phôi thép, thép tấm mà tôn mạ cũng trong tình trạng dư thừa.&nbsp;</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Thị phần của các DN thép trong nước giảm mạnh, trong khi thị phần các đơn vị liên doanh ngày càng tăng. Đây là một thực tế đáng <a href="http://www.24h.com.vn/">báo</a> động với ngành thép trong bối cảnh hiện nay. “Việc dư thừa công suất sẽ khiến cho các DN cạnh tranh gay gắt và đứng trước nguy cơ phá sản cao”, vị lãnh đạo này nói.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	“Để tồn tại, tránh tình trạng xâu xé nhau như hiện nay, các DN thép phải cải tổ. Sắp tới khi hội nhập, sản phẩm thép công nghệ cao từ bên ngoài vào, chắc chắn nhiều DN thép Việt Nam sẽ không tồn tại được”.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	<b>Chuyên gia kinh tế Lê Đăng Doanh</b></div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Trong khi đó, do tiêu thụ chậm, một số nhà sản xuất thép muốn nâng thị phần, đã cạnh tranh bằng việc tăng chiết khấu, giảm giá bán. Tình trạng này khiến thị trường thép hỗn độn và bất lợi. Theo ông Hồ Nghĩa Dũng, Chủ tịch VSA, nhu cầu thép vẫn đang giảm mạnh. Để ngành thép tăng trưởng 5-7%, ông Dũng cho rằng cần có các giải pháp như phát hành thêm trái phiếu đầu tư cơ sở hạ tầng, kích thích thị trường bất động sản sôi động trở lại.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Trước thực trạng cung vượt cầu của ngành thép hiện nay, mới đây, Phó Thủ tướng Hoàng Trung Hải yêu cầu các địa phương phối hợp với Bộ Công Thương, Tài nguyên và Môi trường chấn chỉnh ngay công tác cấp giấy chứng nhận đầu tư (GCNĐT) các dự án thép. Phó Thủ tướng yêu cầu tạm dừng việc xem xét cấp GCNĐT các dự án thép xây dựng thông thường.&nbsp;</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Ngoài ra, các địa phương (được giao rà soát kỹ các dự án) đã được cấp GCNĐT phải có giải pháp xử lý đối với các dự án không triển khai theo đúng tiến độ, nội dung cam kết.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	<b>Có nhà máy thép tiêu thụ điện bằng cả tỉnh</b></div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Theo ông Hồ Nghĩa Dũng, sở dĩ phải đình chỉ các dự án nhà máy thép đang xây dựng hoặc sắp xây dựng mà không đảm bảo nguyên liệu để hoạt động lâu dài là nhằm giảm bớt thiệt hại cho nền kinh tế. Đại diện Vụ Công nghiệp nặng cũng cho rằng, bên cạnh các yếu tố khách quan, nguyên nhân tăng trưởng thấp của ngành thép còn đến từ cách thức điều hành, quản trị kém của DN.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Trao đổi với PV Tiền Phong, chuyên gia kinh tế Lê Đăng Doanh cho biết, tình trạng thép tồn kho lớn ngoài việc DN cạnh tranh không lành mạnh, thị trường hỗn độn còn do quy hoạch có vấn đề.&nbsp;</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	“Thứ nhất, việc cấp phép đầu tư vào ngành thép đã vượt quá quy hoạch rất nhiều, dẫn đến tình trạng cung vượt cầu. Thứ hai, nhiều nhà đầu tư nước ngoài xây dựng dự án thép là nhằm tận dụng giá điện rẻ. Ví dụ, tại Thái Bình, có một công ty thép của Trung Quốc do công nghệ kém nên tiêu thụ điện năng bằng nhu cầu cả tỉnh Thái Bình”, ông Doanh nói.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Một nguyên nhân nữa, theo chuyên gia Lê Đăng Doanh là do sự phân tán trong cấp phép đầu tư. Hệ quả là nhiều DN tư nhân Việt Nam nhập khẩu phải nhà máy thép thải loại từ Trung Quốc. “Tại Trung Quốc, có quy định nhà máy thép tối thiểu phải có công suất 3 triệu tấn/năm; nhà máy nào chỉ có 1 triệu tấn/năm sẽ không cho hoạt động. Vì thế, DN Trung Quốc xé ra bán và DN Việt Nam vồ lấy”, ông Doanh nói.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Theo Hiệp hội Thép Việt Nam (VSA), trong tháng 1, do tiêu thụ chậm nên các công ty chỉ sản xuất 319.975 tấn, giảm 29,14% so với tháng trước và giảm 5,26% so với cùng kỳ.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	Do thị trường đầu năm quá ảm đạm nên tính đến ngày 31/1/2014, lượng thép xây dựng tồn ở các công ty lên tới 436.748 tấn, con số này khá cao so với dự định ban đầu.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: justify;">
	VSA cũng cho biết, bước sang tháng 2, tình hình vẫn chưa có gì thay đổi. Các đơn vị ngành thép vẫn tiếp tục gặp khó, thậm chí đầu ra còn kém hơn tháng đầu năm.</div>
<div style="text-align: justify;">
	&nbsp;</div>
<div style="text-align: right;">
	<strong><em>Phuanphat.com - Theo TBKTSGO</em></strong></div>

        </div>
						</div>
					</div><!-- END Category Product List -->
				</div> <!-- End Homepage content -->

				<!-- Sidebar right -->
				<div class="sidebar-right col-sm-4">
					<!-- Sidebar Right Menu News -->
					<div class="row product-categories menu-right">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Tin tức</h3>	
						<div class="col-sm-12 job-item">
							<ul>
								<li><a href="#">Tin công ty</a></li>
								<li><a href="#">Thông tin thị trường thép</a></li>
								<li><a href="#">Tin tức tuyển dụng</a></li>
								<li><a href="#">Chính sách thuế</a></li>
								<li><a href="#">Định hướng phát triển</a></li>
							</ul>
						</div>
					</div><!-- END Sidebar Right Menu News -->

					<!-- Sidebar Right Video Block -->
					<div class="row video">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> VIDEOS CLIP</h3>
						<div class="embed-responsive embed-responsive-16by9 col-md-offset-1 col-md-10">
							<iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/5-tBJ-uM_tc" frameborder="0" allowfullscreen></iframe>
						</div>
					</div><!-- END Sidebar Right Video Block -->

					<!-- Sidebar Right Featured News -->
					<div class="row featured-news">
						<h3 class="col-sm-12 header-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Tin nổi bật</h3>
						<div class="col-sm-12">
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://minhanphat.com.vn/public/uploads/products/small/7-1409193399.jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Thông tin thị trường thép thế giới ngày 12/3/2014</strong></a>
									<p>China Steel Corp. (CSC), nhà sản xuất thép cac bon lớn nhất tại Đài Loan...</p>
								</div>
							</div>
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://phuanphat.com/Uploads/News/16120131342262977589xang[1].jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Yêu cầu doanh nghiệp xăng dầu giảm tần suất tăng giá</strong></a>
									<p>Từ nay đến hết tháng 6, các doanh nghiệp xăng dầu phải thực hiện việc giãn các lần tăng giá bán lẻ để tránh ảnh hưởng...</p>
								</div>
							</div>
							<div class="row article-item">
								<div class="col-sm-4">
									<img src="http://phuanphat.com/Uploads/News/8320131456543431497phu%20an%20phat.jpg" alt="..." class="img-responsive">
								</div>
								<div class="content col-sm-8">
									<a href="#"><strong>Baosteel nâng giá thép tháng 10 bất chấp thị trường suy yếu</strong></a>
									<p>Theo các nguồn tin cho biết, nhà máy Baosteel đã thông báo nâng giá niêm yết thép tháng 10 dù tình hình...</p>
								</div>
							</div>
						</div>
					</div><!-- END Sidebar Right Featured News -->
				</div><!-- Sidebar Right -->
			</div><!-- End Main Content -->

			<!-- Partners Blocks -->
			<div class="row partners">
				<div class="col-md-12" style="border-top: 3px solid #014b92;">
					<div class="carousel slide" id="carousel-partners">
			          	<div class="carousel-inner">
			                <div class="item active">
			                  	<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  		<a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/outo-1411376552.jpg" class="img-thumbnail"></a>
			                  	</div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/map-3-1411187264.jpg" class="img-thumbnail"></a></div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/acerinox-1411376787.jpg" class="img-thumbnail"></a></div>
			                </div>
			                <div class="item">
			                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
			                  <a href="#"><img src="http://minhanphat.com.vn/public/uploads/partners/nippon-1411437210.jpg" class="img-thumbnail"></a></div>
			                </div>
			          	</div>
			          	<a class="left carousel-control" href="#carousel-partners" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			          	<a class="right carousel-control" href="#carousel-partners" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
			        </div>
				</div>
			</div><!-- END Partners Blocks -->

			<!-- Footer of website -->
			<footer class="row">
				<div class="menu-bottom col-md-12">
					<ul class="list-unstyled list-inline">
						<li><a href="#">Trang chủ</a></li>
						<li><a href="#">Công ty</a></li>
						<li><a href="#">Sản phẩm - Dịch vụ</a></li>
						<li><a href="#">Tin tức</a></li>
						<li><a href="#">Tuyển dụng</a></li>
						<li><a href="#">Liên hệ</a></li>
					</ul>
					<!-- |
					<a rel="nofollow" href="#">Giới thiệu</a>|
					<a rel="nofollow" href="#">Đăng ký <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Gian hàng <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Quảng cáo <strong>Trang Doanh Nghiệp</strong></a>|
					<a rel="nofollow" href="#">Liên hệ</a>|
					<a target="_blank" href="#">ENGLISH</a> -->
				</div>
				<div class="copyright col-md-12">
					Copyright © 2015 <strong>Phú An Phát</strong> Việt Nam. All rights reserved.
				</div>
			</footer>
		</div>
	</body>

	<script type="text/javascript">
	$('#carousel-partners').carousel({
	  interval: 40000
	});

	$('#carousel-partners .item').each(function(){
	  var next = $(this).next();
	  if (!next.length) {
	    next = $(this).siblings(':first');
	  }
	  next.children(':first-child').clone().appendTo($(this));

	  if (next.next().length>0) {
	 
	      next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');
	      
	  }
	  else {
	      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
	     
	  }
	});
	</script>
	</html>